body {
    margin-top: 70px;
    margin-bottom: 60px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #c3d7cd;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, .5);
    /*    background-color: #efe1d3;*/
    min-width: 300px;
    max-width: 415px;
    /*    padding: 2em 2em 1em 2em;
    */
}

.slideshow-container {
    max-width: 5000px;
    position: relative;
    margin: auto;
}

/* FONTS START */

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #000000;
}

h3 {
    font-family: 'Hind Vadodara', sans-serif, bold;
    font-size: 1.8em,
}

summary {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
}

#slidetekstboks {
    text-align: center;
    font-size: 0.8em !important;
}

#slidetekstboks {
    text-align: center;
    font-size: 0.8em !important;
}


/*FONTS SLUT*/

/*DROPDOWN MENU START */

.dropbtn2,
.menu1,
.menu2 {
    background-color: #a5c5b4;
    color: #000000;
    padding: 8px 4px;
    /*    font-size: 1.2em; styrer kom om i desktop? */
    border: none;
    cursor: pointer;
    width: 95px;
    height: 70px;
    margin: 0 0px;
    box-shadow: 0px 0px 1px 0px #3d3d3d;
}

.dropdown2 {
    position: relative;
    display: inline-block;
    box-shadow: 0px 0px 1px 0px #3d3d3d;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #a5c5b4;
    max-width: 160px;
    overflow: auto;
    z-index: 300;
    margin-left: -3px;
    width: 120px;
    right: 0;
    min-width: 200px;
}

.dropdown-content2 a {
    margin-left: -10px;
    font-family: 'Hind Vadodara', sans-serif;
    text-align: right;
    color: #000000;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    font-size: 1em;
    box-shadow: 0px 0px 1px 0px #3d3d3d;
}

.dropdown-content2 a {
    color: #111;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show2 {
    display: block;
}

#navigation {
    visibility: hidden;
    font-family: 'Hind Vadodara', sans-serif, bold;
    box-shadow: 0px 0px 1px 0px #3d3d3d;
}


/*DROPDOWN MENU SLUT */

/* HEADER START */

.header {
    margin-top: 15px;

}

.headerWrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
}

#navigation {
    display: flex;
    justify-content: flex-end;
    height: 70px;

}

#navigation .menu1,
.menu2 {
    font-size: 1.1em;
    font-family: 'Hind Vadodara';
}

#navigation a {
    text-decoration: none;
}

.logo {
    width: 170px;
    margin-left: 10px;
    margin-top: -25px
}

.menu1,
.menu2 {
    text-align: center;
    padding-top: 22px;
    border: 3px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #111;
    margin: 6px 0;
    transition: 0.5s;
}

.change .bar1 {
    transform: rotate(-45deg)translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg)translate(-8px, -8px);
}

.dropbtn {
    color: #d4b6b9;
    padding: 7px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    padding-right: 5px;
    cursor: pointer;
    transition: transform .2s;
}

.dropbtn:hover {
    transform: scale(1.1);
}

.dropdown {
    float: right;
    display: inline-block;
    margin-top: -155px;
    margin-right: 15.5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #c3d7cd;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px #3d3d3d;
    right: 0;
    margin-right: 32px;
    z-index: 300;
}

.dropdown-content a {
    color: #000000;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    box-shadow: 0px 0px 1px 0px #3d3d3d;
}

.show {
    display: block;
}


/*FREDERIKS HOVER*/

.header span:hover {
    border-bottom: 1.8px solid #000000;
    cursor: pointer;
    transition: all 200ms ease-in;
    transform: scale(1.5);
    color: #000000;
    /* Styrer dropdownmenu teksten hoverfarve & underline*/
}

.dropdown-content a:hover,
.dropdown-content2 a:hover,
.dropdown2:hover {
    background-color: rgba(204, 215, 224, 0.65);
    transition: all 200ms ease-in;
    /* Styrer dropdownmenuknappen hoverfarven*/
}

#menu1menu2active:hover,
.menu1:hover,
.menu2:hover,
.dropbtn2:hover {
    background-color: rgba(30, 63, 89, 0.50);
    /* Styrer Desktopmenuknappernes hoverfarven*/
}

#omactive:hover {
    background-color: rgba(30, 63, 89, 0.50;
    )
    /* Styrer Desktopmenuknappernes hoverfarven*/
}

.desktopvaerkstedactive,
.desktopbutikactive,
.produkteractive,
.projekteractive,
.vaerkstedactive,
.butikactive {
    /* Styrer farven. Hvilken side du er på (homesiden.) */
    background-color: rgba(30, 63, 89, 0.20);
}

#menu1menu2active,
#omactiveom {
    background-color: rgba(30, 63, 89, 0.20);
    /* Styrer farven. Hvilken side du er på (homesiden.) */
}


/*FREDERIKS HOVER*/

/* HEADER SLUT */

/* SOFABORD BORDPLADE SKIFT FARVE START */

.kassewrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#kasse1,
#kasse2,
#kasse3,
#kasse4,
#kasse5,
#kasse6,
#kasse7,
#kasse8,
#kasse9 {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#kasse1 {
    background-color: #F7F4A5;
}

#kasse2 {
    background-color: #BC203C;
}

#kasse3 {
    background-color: #DF9997;
}

#kasse4 {
    background-color: #02063F;
}

#kasse5 {
    background-color: #047999;
}

#kasse6 {
    background-color: #71A484;
}

#kasse7 {
    background-color: #7A7B69;
}

#kasse8 {
    background-color: #060606;
}

#kasse9 {
    background-color: #C1C1C1;
}

#farveskift {
    width: 70%;
    margin: 0 auto;
}


/* SOFABORD BORDPLADE SKIFT FARVE SLUT */

/* FOOTER START */

.footer {
    margin-bottom: 0;
    background-color: #ecece7;
}

.line {
    width: 100%;
    height: 5px;
    background-color: black;
}

.footerWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.kontaktWrapper {
    margin-left: 5%;
}

.someWrapper {
    width: 75%;
    margin-left: 30%;
    margin-top: 5%;
}

.fb_logo,
.ins_logo {
    width: 50%;
    margin: 15px 0;
    cursor: pointer;
    transition: transform .2s;
}

.ins_logo:hover {
    transform: scale(1.1);
}

.fb_logo:hover {
    transform: scale(1.1);
}

.kontakt {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    border-bottom:
}

.aabningstider {
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 700;
    font-size: 0.9em;
}


/* FOOTER SLUT */

/* FORSIDE START */

.w3-display-container {
    margin: 0;
    cursor: pointer;
}

.mySlides {
    width: 100% !important;
    box-shadow: 2px 1px 20px rgba(0, 0, 0, .5);
    /*
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

*/
}

.w3-black {
    background-color: #c3d7cd !important;
}

.w3-display-left,
.w3-display-right {
    color: #000000 !important;
}

.w3-display-middle {
    opacity: 0.8;
}


/*

.slogan {

width: 100%;
text-align: left;
margin: auto;
display: flex;
justify-content: center;
margin-bottom: 10px;

}

.slogan h2 {
    font-style: italic;
    font-size: 1.8em;
}
*/

/* FORSIDE SLUT */

/* PROJEKTER START */

.tekstProjekter {
    width: 80vw;
    margin: 0 auto;
    padding: 5px;
}

.presentVideo {
    width: 80%;
    height: auto;
    margin: 0 10vw;
    border: none;
    max-width: 5000px;
    position: relative;
    margin: auto;
}

/*
.presentVideo iframe {

    width: 100%;
    height: 300px;
    margin: 64px auto;
    padding: 2em 1em 2em 1em;
    border: none;
}
*/

.projekter_billede {
    width: 80vw;
    margin: 10px 10vw;
    margin-top: 30px;
}


/* PROJEKTER SLUT */

/* OM VÆRKSTED START */

.omVaerstedVideo_tekst {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    font-style: italic;
    margin: 0 auto;
    padding: 5px;
    width: 80vw;
}

.kontaktBeskrivelse {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    font-style: italic;
    margin: 0 auto;
    padding: 5px;
    width: 80vw;
}

.kontaktOverskrift {
    text-align: center;
}

.vaerkstedVideo_overskrift {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.1em;
    text-align: center;
}

.vrVideo {
    width: 100%;
    height: auto;
    border: none;
}

.omVaerstedTekst {
    width: 80vw;
    margin: 0 auto;
    padding: 5px;
}

.bestillingsmenu {
    width: 60vw;
    margin: 5px auto;
    display: grid;
    grid-template-rows: 2fr;
}


/*
.formular_send {
margin-left: 30vw;
}

.formular_navn {
height: 30px;
width: 20%;
}

.formular_email {
height: 30px;
width: 20%;
}

.formular_besked {
width: 20%;
}*/

#wpform-field-hp {
    visibility: hidden;
}

input,
select,
textarea {
    font: inherit;
    margin: 0;
    margin-bottom: 20px;
    width: 100px;
}

.wpforms-field-medium {
    width: 150px;
}

textarea {
    height: 70px;
}

.wpforms-container {
    margin-left: -25px;
}

.wpforms-field-required {
    width: 80%;
}

.butikVideo_overskrift {
    font-family: 'Hind Vadodara', sans-serif, bold;
    font-size: 1.1em;
    text-align: center;
}

.butikVideo {
    width: 100%;
    height: auto;
    border: none;
}

.butikVideo_beksrivelse {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    font-style: italic;
    margin: 0 auto;
    padding: 5px;
    width: 80vw;
}


/* OM VÆRKSTED SLUT */

/* OM BUTIK START */

.lilleTekstWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 80vw;
    margin: 0 10vw;
}

.lilleTekstWrapper p {
    width: 40vw;
}

.lilleTekstWrapper .email {
    font-size: 0.75em;
}

.om_butikBillede {
    width: 80vw;
    height: auto;
    margin: 0 10vw;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 2px 1px 40px rgba(0, 0, 0, .5);
}

.omButikTekst {
    width: 80vw;
    margin: 0 auto;
    padding: 5px;
}

#googleMaps {
    height: 400px;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 2px 1px 40px rgba(0, 0, 0, .5);
}


/* OM BUTIK SLUT */

/* PRODUKTER START */

.produktWrapper {
    padding: 2em 2em 1em 2em;
}

#filter button {
    background-color: #a5c5b4;
    color: #111;
    padding: 0px 4px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 24vw;
    height: 35px;
    padding-top: 50px;
}

.sofabordeWrapper:nth-child(2) {
    border-bottom: 3px;
    border-bottom-style: solid;
}

.spisebordeWrapper {
    border-bottom: 3px;
    border-bottom-style: solid;
}

.hylderWrapper {
    border-bottom: 3px;
    border-bottom-style: solid;
}

.farveskift {
    border-bottom: 3px;
    border-bottom-style: solid;
}


/*
details summary::-webkit-details-marker {
display: none;
}
*/

summary {
    text-align: center;
    cursor: pointer;
    border-bottom: 3px;
    border-bottom-color: black;
    border-bottom-style: inset;
    /*
border: 2px;
border-style: solid;
*/
}

.overskrift {
    margin-bottom: 5px;
    margin-top: 30px;
}

#produkter .footer {
    margin-top: 10px;
    /*
position: absolute;
bottom: -649px;
*/
}


/* PRODUKTER SLUT */

/*TABLET*/

@media screen and (max-width: 768px) and (min-width: 416px) {
    body {
        min-width: 416px;
        max-width: 768px;
    }
    .w3-display-container {
        margin: 0;
        cursor: pointer;
    }
    .dropbtn {
        color: #d4b6b9;
        padding: 7px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        margin-top: -22px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #a5c5b4;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px #3d3d3d;
        right: 0;
        margin-right: 25px;
        z-index: 300;
    }
    .show {
        display: block;
    }
    .logo {
        width: 250px;
        margin-left: 10px;
        margin-top: -35px;
    }
    .mySlides {
        width: 100% !important;
    }
    .line {
        width: 100%;
        height: 5px;
        background-color: black;
    }
    .produkt_billede {
        width: 60%;
    }
    .butikVideo {
        width: 60vw;
        height: 30vw;
        margin-left: 15vw;
    }
    #filter button {
        width: 10vw;
    }
    .fb_logo,
    .ins_logo {
        width: 21%;
        margin: 15px 20px;
        cursor: pointer;
    }
    .someWrapper {
        width: 100%;
        margin-left: 4%;
        margin-top: 8%;
        display: inline-block;
    }
    .slogan {
        width: 100%;
    }
    /*
    .presentVideo {
        height: 30vh;
    }
*/
    .vrVideo {
        width: 100%;
        height: auto;
        border: none;
    }
    #displaySpiseborde {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-bottom: 80px;
    }
    #displaySofaborde {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-bottom: 80px;
    }
    #displayHylder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        width: 100%;
        grid-gap: 10px;
    }
    .spisebordeWrapper {
        border-style: none;
    }
    .sofabordeWrapper {
        border-bottom-style: none;
    }
    .hylderWrapper {
        border-style: none;
    }
    .farveskift {
        border-style: none;
    }
    #farveskift {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /*
#navigation {
visibility: visible;
margin-top: -83px;
}

.burgerMenu {
visibility: hidden;
}

#filter button {
margin-top: 110px;
}
*/
    input,
    select,
    textarea {
        font: inherit;
        margin: 0;
        margin-bottom: 20px;
        width: 100px;
    }
    .wpforms-field-medium {
        width: 150px;
    }
    textarea {
        height: 70px;
    }
    .wpforms-container {
        margin-left: -10px
    }
    .wpforms-field-required {
        width: 100%
    }
    .vrVideo {
        width: 60vw;
        height: 30vw;
        margin-left: 18vw;
    }
}


/*LABTOP*/

@media screen and (min-width:769px) {
    /*
.produktWrapper {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;

}

*/
    body {
        min-width: 769px;
        max-width: 1440px;
    }
    .w3-display-container {
        margin: 0;
        cursor: pointer;

    }
    .dropbtn {
        color: #d4b6b9;
        padding: 7px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        margin-top: -22px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #a5c5b4;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px #3d3d3d;
        right: 0;
        margin-right: 14px;
        z-index: 300;
    }
    .show {
        display: block;
    }
    .logo {
        width: 250px;
        margin-left: 10px;
        margin-top: -35px;
    }
    .mySlides {
        width: 100% !important;
    }
    .line {
        width: 100%;
        height: 5px;
        background-color: black;
    }
    .fb_logo,
    .ins_logo {
        width: 20%;
        margin: 15px 20px;
        cursor: pointer;
    }
    .someWrapper {
        width: 100%;
        margin-left: 4%;
        margin-top: 8%;
        display: inline-block;
    }
    .kontaktWrapper {
        margin-left: 5%;
    }

    .someWrapper {
        width: 75%;
        margin-left: 30%;
        margin-top: 5%;
    }
    .kontakt {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 1.5em;
    }

    .aabningstider {
        font-family: 'Hind Vadodara', sans-serif;
        font-weight: 700;
        font-size: 1.5em;
    }
    .slogan h2 {
        font-size: 1.8em;
        font-style: italic;
    }
    .presentVideo {
        height: 50vh;
    }
    .lilleTekstWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #displaySpiseborde {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
    }
    #displaySofaborde {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
    }
    #displayHylder {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        grid-gap: 2em;
    }
    .overskrift {
        height: 65px;
        text-align: center;
    }
    .farveskift h3,
    .overskrift {
        text-align: center;
    }
    /*
.imgContainer {
height: 440px;
}
.imgContainer:nth-child(4) {
height: 100px;
}
.imgContainerSofa {
height: 315px;
}
*/
    /*
.farveskift summary {
margin-top: 65px;

}
*/
    /*        .imgContainerHylde {
height: 640px;
}
*/
    .vrVideo {
        height: 500px;
        width: 60%;
        margin-left: 20%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .produktWrapper details {
        margin: 0 auto;
    }
    .spisebordWrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .sofabordWrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .spisebordeWrapper {
        border-style: none;
    }
    .sofabordeWrapper {
        border-bottom-style: none;
    }
    .hylderWrapper {
        border-style: none;
    }
    .farveskift {
        border-style: none;
        margin-top: 20px;
    }
    #googleMaps {
        width: 70%;
    }
    #navigation {
        visibility: visible;
    }
    .burgerMenu {
        visibility: hidden;
    }
    .header {
        margin-bottom: 40px;
    }

    #filter button {
        width: 10vw;
    }
    #navigation {
        justify-content: center;
        background-color: #a5c5b4;
    }
    .dropbtn2,
    .menu1,
    .menu2 {
        width: 200px;
    }

    .mySlides {
        width: 100% !important;

    }
    .butikVideo {
        height: 500px;
        width: 40%;
        margin-left: 30%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


/*STOR SKÆRM*/

@media screen and (min-width:1440px) {

    body {
        min-width: 1441px;
        max-width: 3000px;
    }
    .w3-display-container {
        margin: 0;
        cursor: pointer;

    }
    .kontaktWrapper {
        margin-left: 5%;
    }

    .someWrapper {
        width: 75%;
        margin-left: 30%;
        margin-top: 5%;
    }
    .dropbtn {
        color: #d4b6b9;
        padding: 7px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        margin-top: -22px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #a5c5b4;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px #3d3d3d;
        right: 0;
        margin-right: 14px;
        z-index: 300;
    }
    .show {
        display: block;
    }
    .logo {
        width: 250px;
        margin-left: 10px;
        margin-top: -35px;
    }
    .mySlides {
        width: 100% !important;
    }
    .line {
        width: 100%;
        height: 5px;
        background-color: black;
    }
    .kontakt {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 2em;
        border-bottom:
    }

    .aabningstider {
        font-family: 'Hind Vadodara', sans-serif;
        font-weight: 700;
        font-size: 2em;
    }
    /*
    .presentVideo {
        margin: 10vh 20vw;
        margin-top: 10vh;
        height: 60vh;
        width: 60vw;
    }
*/
    .vrVideo {
        height: 500px;
        width: 40%;
        margin-left: 30%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #filter button {
        width: 15vw;
        font-size: 1.2em;
    }

    #navigation {
        justify-content: center;
        font-size: 1.2em;
    }
    .dropbtn2,
    .menu1,
    .menu2 {
        width: 200px;
    }
    .dropbtn2 {
        font-size: 1.2em;
    }



    .butikVideo {
        height: 500px;
        width: 40%;
        margin-left: 30%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
