body {
    margin: 0;
    background-color: #f1f1f1;
}


/*FONTS START */

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
}

h3 {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.8em;
}

summary {
    font-family: 'Yantramanav', sans-serif;
    font-size: 1.1em;
}




/*FONTS START */

/*DROPDOWN MENU START */

.dropbtn,
.menu {
    background-color: #dab693;
    color: white;
    padding: 8px 4px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 80px;
    margin: 0 -3px;
}

.dropbtn:hover,
.dropbtn:focus,
.menu:hover,
.menu:focus {
    background-color: #1e3f59;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dab693;
    max-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -3px;
    width: 75px;
}

.dropdown-content a {
    margin-left: -10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd
}

.show {
    display: block;
}


/*DROPDOWN MENU SLUT */

/* SOFABORD BORDPLADE SKIFT FARVE START */

.kassewrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


#kasse1,
#kasse2,
#kasse3,
#kasse4,
#kasse5,
#kasse6,
#kasse7,
#kasse8,
#kasse9 {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#kasse1 {
    background-color: #F7F4A5;
}

#kasse2 {
    background-color: #BC203C;
}

#kasse3 {
    background-color: #DF9997;
}

#kasse4 {
    background-color: #02063F;
}

#kasse5 {
    background-color: #047999;
}

#kasse6 {
    background-color: #71A484;
}

#kasse7 {
    background-color: #7A7B69;
}

#kasse8 {
    background-color: #060606;
}

#kasse9 {
    background-color: #C1C1C1;
}

#farveskift {
    width: 50%;
}



/* SOFABORD BORDPLADE SKIFT FARVE SLUT */

/* HEADER START */

.headerWrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
}

.navigation {
    margin: auto 0;
    display: flex;
    justify-content: flex-end;

}

/* HEADET SLUT */

/* FOOTER START */

.footerWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;


}

.line {
    width: 100vw;
    height: 5px;
    background-color: black;
    margin: 20px 0;
}

.someWrapper {
    margin-left: 30%;
}

.fb_logo,
.ins_logo {
    width: 70%;
    margin: 15px 0;
    cursor: pointer;
}

.kontaktWrapper {
    margin-left: 20px;
}


/* FOOTER SLUT */

/* FORSIDE START */

.w3-display-container {
    width: 100vw;
}

.mySlides {
    width: 100vw;
}

.slogan {
    width: 100%;
    text-align: left;
    margin: auto;
    padding: 0 10px;
    display: flex;
    justify-content: center;

}

.slogan h2 {
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;

}




/* FORSIDE SLUT */

/* PROJEKTER START */

.tekstProjekter {

    width: 80vw;
    margin: 0 auto;
    padding: 5px;
}

.presentVideo {
    width: 80vw;
    height: 30vh;
    margin: 0 10vw;
}

.projekter_billede {

    width: 90vw;
    margin: 5px 5vw;
}



/* PROJEKTER SLUT */

/* OM VÆRKSTED START */

.vrVideo {
    width: 80vw;
    height: 30vh;
    margin: 0 10vw;
}

.omVaerstedTekst {
    width: 80vw;
    margin: 0 auto;
    padding: 5px;
}


.bestillingsmenu {
    width: 60vw;
    margin: 5px auto;
    display: grid;
    grid-template-rows: 2fr;
}

.formular_send {
    margin-left: 30vw;
}

.formular_navn {
    height: 30px
}

.formular_email {
    height: 30px;
}

/* OM VÆRKSTED SLUT */

/* OM BUTIK START */

.lilleTekstWrapper {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 80vw;
    margin: 0 10vw;

}

.om_butikBillede {

    width: 80vw;
    height: auto;
    margin: 0 10vw;
}

.omButikTekst {

    width: 80vw;
    margin: 0 auto;
    padding: 5px;
}


/* OM BUTIK SLUT */

@media screen and (min-width:768px) {

    .produkt_billede {
        width: 60%;
    }

    /*
    .produktWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
*/
    .fb_logo,
    .ins_logo {
        width: 25%;
        margin: 15px 20px;
        cursor: pointer;
    }
    .someWrapper {
        margin-left: 5%;
        margin-top: 40px;

    }

    .slogan {
        width: 100%;
    }

    .presentVideo {
        height: 30vh;
    }




}

@media screen and (min-width:1024px) {
    /*
    .produktWrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;

    }
*/
    .sofabordeWrapper {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .fb_logo,
    .ins_logo {
        width: 20%;
        margin: 15px 20px;
        cursor: pointer;
    }

    .someWrapper {
        margin-left: 60%;
    }


    .slogan h2 {
        font-size: 1.8em;
        font-style: italic;
    }

    .presentVideo {
        height: 50vh;
    }

    .lilleTekstWrapper {
        display: grid;
        grid-template-columns: repeat (2, 1fr);
    }


}

@media screen and (min-width:1440px) {


    .presentVideo {

        margin: 10vh 20vw;
        margin-top: 10vh;
        height: 60vh;
        width: 60vw;

    }


}
